# Ignore image files in \ODM
\ODM\storage\*
\ODM\images\*

# Ignore image files in \NDVI
\NDVI\odm_orthophoto.tif
\NDVI\results\*

# Ignore image files in \QGIS
\QGIS\odm_orthophoto.tif
\QGIS\results\*